@font-face {
  font-family: "Qwtitcher";
  src        : url('./fonts/QwitcherGrypen-Regular.ttf');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: "Qwitcher";
  src        : url("./fonts/QwitcherGrypen-Bold.ttf");
  font-weight: bold;
  font-style : normal;;
}

@font-face {
  font-family: "Tilt Prism";
  src        : url('./fonts/TiltPrism.ttf');
  font-weight: normal;
  font-style : normal;
}