{% extends 'Layout/layout.html' %}

{% block title %}
  The Odin Project - JavaScript course exercises
{% endblock %}

{% block body-mid %}

  <h1> Course projects</h1>

  <h3>
    <a href="{% url 'forms-practice' %}">
      Forms
    </a>
  </h3>

  <h3>
    <a href="{% url 'admin-dashboard' %}">
      Admin Dashboard
    </a>
  </h3>

  <h3>
    <a href="{% url 'library' %}">
      Library
    </a>
  <h3>

  <h3>
    <a href="{% url 'tictactoe' %}">
      TicTacToe
    </a>
  <h3>
{% endblock %}