{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head-extension %}
    {% endblock %}

    <link rel="icon" 
          type="image/x-icon" 
          href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/225px-Unofficial_JavaScript_logo_2.svg.png">

    <link rel ="stylesheet"
          href="{% static 'styles/styles.css' %}"
    >

    <script src ="{% static 'dist/main.js' %}"
            type="module"
    ></script>

    
  </head>



  <body>
    <aside
      id="body-left-panel"
    >
      {% block body-left %}
      {% endblock %}
    </aside>

    <main 
      role="main"
      id="body-mid-panel"
    >
      {% block body-mid %}
      {% endblock %}
    </main>

    <aside 
      id="body-right-panel"
    >
      {% block body-right %}
      {% endblock %}
    </aside>
  </div>
</html>