$article-background-color: #1d224b;
$background-color: #110d25;
$text-color: ghostwhite;

$font-main: Helvetica, Arial, sans-serif;


html, body {
  background : $background-color;
  color      : $text-color;
  font-family: $font-main;
  font-size  : 16px;
}

body {
  margin-top: 50px;
}


div {
  background: $background-color;
}

article {
  background   : $article-background-color;
  border       : 1px solid #1d2044;
  border-radius: 21.37px;
  color        : $text-color;
  padding      : 15px;
}

h1, h2, h3, h4, h5, h6 {
  background: $background-color;
  color     : $text-color;
  text-align: center;
}