$article-background-color: #1d224b;
$background-color: #110d25;
$text-color: ghostwhite;

$font-main: Helvetica, Arial, sans-serif;


html, body {
  background : $background-color;
  color      : $text-color;
  font-family: $font-main;
  font-size  : 16px;
}

main {
  margin-top   : 50px;
  margin-bottom: 50px;  
}


div {
  background: $background-color;
}

article {
  background   : $article-background-color;
  border       : 1px solid #1d2044;
  border-radius: 21.37px;
  color        : $text-color;
  padding      : 15px;
}

h1, h2, h3, h4, h5, h6 {
  background: $background-color;
  color     : $text-color;
  text-align: center;
}

input {
  display: block;

  background   : transparent;
  border       : none;
  border-radius: 0;
  color        : $text-color;
  border-bottom: 2px solid map-get($theme-colors, "lleuad");
  resize       : none;

  &:focus, &:hover {
    outline      : none;
    border-bottom: 2px solid map-get($theme-colors, "lleuad-lawn");
  }
}

select {
  height: 35px;
  color : $text-color;
  background-color: $article-background-color;
  border          : 0px solid transparent;
  
  select, 
  select:hover,
  select:active,
  select:focus {
    border: 0px solid transparent;
  }
}

.text-right {
  text-align: right;
}


#body-left-panel  { grid-area: body-left ; }
#body-mid-panel   { grid-area: body-mid  ; }
#body-right-panel { grid-area: body-right; }


@media screen and (max-width: 1199px) {
  #body-left-panel,
  #body-right-panel {
    display: none;
  }

  body {
    display: contents;
  }

}

@media screen and (min-width: 1200px) {
  body {
    display: grid;
    gap    : 10px;

    grid-template-columns: 200px 1fr;
    grid-template-rows   : 1fr;
    grid-template-areas  :
      'body-left body-mid';
  }

  #body-left-panel {
    display: block;
  }

  #body-right-panel {
    display: none;
  }
}

@media screen and(min-width: 1500px) {
  body {
    display: grid;
    gap    : 10px;

    grid-template-columns: 200px 1fr 200px;
    grid-template-rows   : 1fr;
    grid-template-areas  :
      'body-left body-mid body-right';
  }

  #body-left-panel,
  #body-right-panel {
    display: block;
  }
}