#library-wrapper {
  max-width    : 1000px;
  margin       : auto;
}

#add-button-container {
  text-align   : center;
  margin       : auto;
  margin-top   : 30px;
  margin-bottom: 30px;
}

#add-button {
  margin: auto;
}

.book-data {
  background: $article-background-color;
}


#form-title  { grid-area: title ; }
#form-author { grid-area: author; }
#form-pages  { grid-area: pages ; }
#form-lang   { grid-area: lang  ; }
#form-read   { grid-area: read  ; }
#form-close  { grid-area: close ; }
#form-submit { grid-area: submit; }

#library-form {
  background   : $article-background-color;
  border-radius: 21.37px;
  display      : none; // Hidden by default, grid when active
  gap          : 20px;
  margin       : auto; 
  padding      : 20px;
  margin-bottom: 20px;

  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows   : 1fr 1fr 1fr 1fr;
  grid-template-areas  : 
    'title  title  title  title  title '
    'author author author author author'
    'lang   lang   pages  pages  read  '
    'close  .      .      submit submit';
}


#form-lang {
  background: $article-background-color;
  border    : 0px solid transparent;


  select, 
  select:hover,
  select:active,
  select:focus {
    border: 0px solid transparent;
  }
}

.library-form-input {
  display: block;

  background   : transparent;
  border       : none;
  border-radius: 0;
  color        : $text-color;
  height       : 50px;
  padding-top  : 20px;
  border-bottom: 2px solid map-get($theme-colors, "lleuad");
  resize       : none;

  &:focus, &:hover {
    outline      : none;
    border-bottom: 2px solid map-get($theme-colors, "lleuad-lawn");
  }
}


.book-id         { grid-area: id    ; }
.book-title      { grid-area: title ; }
.book-author     { grid-area: author; }
.book-language   { grid-area: lang  ; }
.book-pages      { grid-area: pages ; }
.book-read       { grid-area: read  ; }
.book-read-btn   { grid-area: readbt; }
.book-delete-btn { grid-area: delete; }

.book-cover {
  display: grid;

  width: 300px;
  gap  : 10px;

  grid-template-columns: 1fr 1fr;
  grid-template-rows   : 2fr 2fr 2fr 2fr 2fr 2fr 3fr;
  grid-template-areas  :
    'id     id    '
    'title  title '
    'author author'
    'lang   lang  '
    'pages  pages '
    'read   read  '
    'readbt delete';
}


.book-data-label { grid-area: label; }
.book-data-value { grid-area: value; }

.book-data {
  display   : grid;

  grid-template-columns: 1fr 3fr;
  grid-template-rows   : 1fr;
  grid-template-areas  :
    'label value';
}

.book-data,
.book-data-label,
.book-data-value {
  background: $article-background-color;
}

.book-data-value {
  text-align: right;
}


#library-container {
  display        : flex;
  flex-wrap      : wrap;
  gap            : 20px;
  justify-content: center;
  margin         : auto;
}


@media screen and (max-width: 440px) {
  #library-form {
    width: 320px;
  }

  #library-container {
    max-width: 420px;
  }
}

@media screen and (max-width: 666px) {
  #library-form {
    width: 420px;
  }

  #library-container {
    max-width: 640px;
  }
}

@media screen and (max-width: 800px) {
  #library-form{
    width: 666px;
  }

  #library-container {
    max-width: 780px;
  }
}

@media screen and (max-width: 999px) {
  #library-form {
    width: 750px;
  }

  #library-container {
    max-width: 950px;
  }
}
@media screen and (min-width: 1000px) {
  #library-form {
    width: 750px;
  }

  #library-container {
    max-width: 1000px;
  }
}