#library-wrapper {
  max-width: 1000px;
  margin   : auto;
  
}

#library-form-container {
  display: none;
  margin : 20px;
}

.book-cover {
  margin: 10px;
}

.book-data {
  background: $article-backgroud-color;
}

.library-form-input {
  display: block;

  background   : transparent;
  border       : none;
  border-radius: 0;
  color        : $text-color;
  height       : 50px;
  padding-top  : 20px;
  border-bottom: 2px solid map-get($theme-colors, "lleuad");
  resize       : none;

  &:focus, &:hover {
    outline      : none;
    border-bottom: 2px solid map-get($theme-colors, "lleuad-lawn");
  }
}