{% extends './layout.html' %}

{% block title %}
  Library
{% endblock %}

{% block body %}

<div id="library-wrapper">
  <header>
    <h1>
      Library 
    </h1>
  </header>
  
  <div id="add-button-container">
    <button
      id   ="add-button"
      class="btn btn-outline-primary">
      New book
    </button>
  </div>

    <form  id="library-form">
      <input 
        type ="text" 
        name ="title"
        id   ="form-title"
        class="library-form-input"
        maxlength  ="128"
        placeholder="Title"
        required
      >
      <input 
        type ="text"
        name ="author"
        id   ="form-author"
        class="library-form-input"
        maxlength  ="128"
        placeholder="Author"
        required
      >
      <!-- Let's agree upon 'min=0' standing for a book with cover but no pages... -->
      <input
        type ="number"
        name ="pages"
        id   ="form-pages"
        class="library-form-input"
        min  = 0
        max  = 692137420
        placeholder="Pages"
        required
      >

      <select
        name ="lang"
        id   ="form-lang"
        class="library-form-input"
      >
        {% include './language_picker.html' %}
      </select>

      <div
        class="library-form-input"
        id   ="form-read"
      >
        <input
          type ="checkbox"
          name ="read"
          id   ="form-read-box"
          value="read"
        >
        <label for="form-read-bocx">
          Read
        </label>  
      </div>

      <button
        name ="close"
        id   ="form-close"
        class="btn btn-outline-warning">
        Close
      </button>
      
      <button
        type ="submit"
        name ="submit"
        role ="submit"
        id   ="form-submit"
        value="Add book"
        class="btn btn-outline-success"
      >Add book
      </button>
    </form>
  

  <div id="library-container">
  
  </div>

</div>




{% endblock %}