.pretty-font {
  font-family: $font-pretty;
  background: transparent;
  text-shadow: 0 0 2px black;
}

#forms-practice-container {
  display: flex;
  max-width: 1000px;
  min-height: 666px; // test
  margin: 0 auto;
  box-shadow: 0 0 35px -5px map-get($theme-colors , 'lleuad');
}

#caption {
  position: relative;
  background-color: rgba(248, 248, 255, 0.385);
  width: 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  background     :  rgba(183, 209, 218, 0.15);
  
  #logo {
    background: none;
    flex: none;
  }

  h1 {
    flex: 1 1 150px;
  }
}

#part-with-image {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  // Image credits: "trees under starry sky" by Max Saeling
  //   from unsplash.com under Unsplash license (https://unsplash.com/license)
  background-image: url("https://images.unsplash.com/photo-1518889735218-3e3a03fd3128?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
}

#part-with-form {
  flex: 2;
  background-color: map-get($theme-colors, 'lleuad-newydd');
}

#practice-form>fieldset {
  padding: 20px;
}

#practice-form-inputs {
  background-color: map-get($theme-colors, 'full-moon-glass');
  display: flex;
  flex-wrap: wrap;

  input {
    width: 250px;
    margin-right : 20px;
    margin-bottom: 20px;
  }

  * {
    background: transparent;
  }
}

.labeled-input-practice {
  display: flex;
  flex-direction: column-reverse;
  

  input+label::before {
    display: inline-block;
    width  : 1em;
    height : 1em;
    margin-right: 10px;
  }

  input:valid+label::before {
    content: "✓";
    color  : map-get($theme-colors , "lleuad-lawn");
  }

  input:invalid+label::before {
    content: "❌";
    color  : map-get($theme-colors , "danger");
  }

  input:required+label::after {
    content: "*";
  }
}


#dummy-text {
  background: none;
  border    : none;
}

#rrol {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

#practice-form-submit {
  margin-bottom: 10px;
}

legend {
  h3 {
    background: transparent;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}