@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

$custom-colors: map-merge($theme-colors, (
  "porffor"              : rgb(32, 7, 34),
  "lleuad"               : rgb(60, 100, 115),
  "lleuad-lawn"          : rgb(183, 209, 218),
  "hanner-lleuad"        : rgb(17, 48, 58),
  "lleuad-newydd"        : rgb(2, 26, 33),
  "moon-glass"           : rgba(5, 39, 51, 0.3),
  "full-moon-glass"      : rgba(183, 209, 218, 0.05),
  "full-moon-glass-thick": rgba(183, 209, 218, 0.15),
  "success-empty"        : rgb(1, 76, 37),
  "info-empty"           : rgb(0, 49, 89),
  "danger-empty"         : rgb(87, 2, 2),
  "warning-empty"        : rgb(83, 74, 0),
  "transparent"          : rgba(255, 255, 255, 0),
  "ghostwhite"           : ghostwhite
));



$theme-colors         : map-merge( $theme-colors,     $custom-colors                   );
$theme-colors-rgb     : map-loop(  $theme-colors,     to-rgb,           "$value"       );
$utilities-colors     : map-merge( $utilities-colors, $theme-colors-rgb                );
$utilities-text-colors: map-loop(  $utilities-colors, rgba-css-var,     "$key",  "text");
$utilities-bg-colors  : map-loop(  $utilities-colors, rgba-css-var,     "$key",  "bg"  );



$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $custom-colors
          ),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            $custom-colors
          ),
        ),
      ),
    ),
  )
);


@import "../../node_modules/bootstrap/scss/utilities/api";
// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";


// Keep other imports below Bootstrap so as to be able to override its styles.
@import "./fonts";

@import "./includes/general";
@import "./includes/navbar";
@import "./includes/footer";
@import "./includes/projects-and-tasks-tables";
@import "./includes/forms";
@import "./includes/tasks";


// Add temporary solutions to the file imported below
// @import "./includes/bandaid";

// The rest

* {
  box-sizing: border-box !important;
}