$dark-green: #004230;

$frame-width : 535px;
$frame-height: 420px;

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

nav {
  background     : $dark-green;
  color          : ghostwhite;
  display        : flex;
  font-size      : 16px;
  justify-content: center;
  overflow       : hidden;

  a {
    color          : inherit;
    float          : left;
    padding        : 12px 16px;
    text-align     : center;
    text-decoration: none;
  }
}

.dropdown-items {
  background: $dark-green;
  box-shadow: 0 6px 12px 0 #333;
  display   : none;
  min-width : 152px;
  position  : absolute;
  z-index   : 2;

  a {
    display   : block;
    float     : none;
    text-align: left;
  }
}

.dropdown {
  float   : left;
  overflow: hidden;

  .dropdown-trigger {
    background : inherit;
    border     : none;
    font-family: inherit;
    margin     : 0;
    outline    : none;
    padding    : 12px 16px;
  }

  &.clicked {
    .dropdown-items {
      display: block;
    }
  }
}

nav a:hover,
.dropdown:hover .dropdown-trigger,
.dropdown-items a:hover {
  background: forestgreen;
}


.carousel-wrapper {
  align-items    : center;
  display        : grid;
  gap            : 10px;
  justify-content: center;
  margin         : auto;
  width          : min-content;

  grid-template-columns: 50px 1fr 50px;
  grid-template-areas  : 'prev frame next';

  .nav-Prev { grid-area: prev; }
  .nav-Next { grid-area: next; }
}

.carousel-nav {
  background   : rgba($color: #000000, $alpha: 0.0);
  border       : 3px solid darkcyan;
  border-radius: 100%;
  color        : darkcyan;
  cursor       : pointer;
  height       : 50px;
  transition   : ease-in-out 200ms;
  width        : 50px;

  &:hover {
    background: darkcyan;
    border    : 3px solid cadetblue;
    background: darkcyan;
  }

  &:active {
    border-color: aqua;
  }
}

.carousel-frame {
  grid-area : frame;

  background: black;
  margin    : auto;
  position  : relative;
  width     : $frame-width;
  height    : $frame-height;
  overflow  : hidden;
  border    : 2px solid springgreen;
  box-shadow: 0 0 20px 0 black;
}

.carousel-container {
  position  : absolute;
  display   : inline-flex;
  width     : max-content;
  left      : 0px;
  transition: 300ms;
}

.slide {
  display : inline-flex;
  height  : $frame-height;
  position: relative;
  width   : $frame-width;

  img {
    //max-height: $frame-height;
    max-width : $frame-width;
  }

  .slide-counter,
  .slide-caption {
    position   : absolute;
    color      : ghostwhite;
    text-shadow: 
      0 0 1px   black,
      0 0 2.5px black,
      0 0 5px   black;
  }

  .slide-counter { 
    top : 20px;
    left: 20px;
  }

  .slide-caption {
    bottom: 20px;
    text-align: center;
    width: 100%;
  }
}




