$dark-green: #004230;

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

nav {
  background-color: $dark-green;
  overflow: hidden;
  font-size: 16px;
  color: ghostwhite;
  display: flex;
  justify-content: center;

  a {
    float: left;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    color: inherit;
  }
}

.dropdown-items {
  display: none;
  background-color: $dark-green;
  position: absolute;
  min-width: 152px;
  z-index: 2;
  box-shadow: 0 6px 12px 0 #333;

  a {
    display: block;
    float: none;
    text-align: left;
  }
}

.dropdown {
  float: left;
  overflow: hidden;

  .dropdown-trigger {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  &.clicked {
    .dropdown-items {
      display: block;
    }
  }
}

nav a:hover,
.dropdown:hover .dropdown-trigger,
.dropdown-items a:hover {
  background-color: forestgreen;
}


.carousel-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  width: min-content;
  margin: auto;

  gap: 10px;
  grid-template-columns: 50px 1fr 50px;
  grid-template-areas: 'prev frame next';

  .nav-Prev { grid-area: prev; }
  .nav-Next { grid-area: next; }
}

.carousel-nav {
  border-radius: 100%;
  height: 50px;
  width : 50px;
  background-color: rgba($color: #000000, $alpha: 0.0);
  color: darkcyan;
  border: 3px solid darkcyan;
  cursor: pointer;

  transition: ease-in-out 200ms;

  &:hover {
    color: ghostwhite;
    border: 3px solid cadetblue;
    background-color: darkcyan;
  }

  &:active {
    border-color: aqua;
  }
}

.carousel-frame {
  grid-area: frame;

  background-color: black;
  margin: auto;
  position: relative;
  width: 535px;
  height: 418px;
  overflow: hidden;

  border: 2px solid springgreen;
  box-shadow: 0 0 20px 0 black;


}

.carousel-container {
  position: absolute;
  display: inline-flex;
  width  : max-content;
  left: 0px;
  transition: 300ms;
}

.slide {
  position: relative;
  display: inline-flex;

  img {
    max-height: 400px;
    max-width: 200px;
  }

  .slide-counter,
  .slide-caption {
    position: absolute;
    color: ghostwhite;
    text-shadow: 0 0 1px black, 0 0 2.5px black, 0 0 5px black;
  }

  .slide-counter { 
    top: 20px;
    left: 20px;
  }

  .slide-caption {
    bottom: 20px;
    left: 46%;
  }
}




