#dashboard-main-projects-wrapper      { grid-area: projects; }
#dashboard-main-announcements-wrapper { grid-area: annons;   }
#dashboard-main-trending-wrapper      { grid-area: trends;   }


#dashboard-main {
  background-color: map-get($theme-colors, "lleuad-newydd");
  gap             : 25px 20px;
  padding         : 20px;
  padding-top     : 50px;


  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows   : auto auto auto;
  grid-template-areas  : 
    'projects annons'
    'projects trends'
    'projects .     ';

  h3, h4 {
    background: transparent;
  }

  a {
    color          : map-get($theme-colors, 'lleuad-lawn');
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  article {
    background: map-get($theme-colors, "full-moon-glass-thick");
    border    : 2px solid map-get($theme-colors, "lleuad-lawn");
  }

  p {
    margin-bottom: 0;
  }
}


#dashboard-main-projects {
  gap: 20px;
  
  display: grid;   
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
}

.dashboard-project {
  gap    : 15px;
  padding: 1.5rem 1rem;

  display: grid;
  grid-template-rows: 2.5rem 1fr 1rem;
}

.dashboard-project-icons {
  text-align: right;

  svg {
    fill : ghostwhite;
    width: 1.5rem;
    margin-left: 2rem;
  }
}

#dashboard-main-announcements,
#dashboard-main-trending {
  font-size: 0.75rem;
  gap      : 15px;
  display  : grid;
}

.dashboard-trend {
  gap: 5px 10px;

  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows   : 1rem 1fr;
  grid-template-areas  :
    'icon header '
    'icon content';

  .trend-icon { grid-area: icon;    }
  h4          { grid-area: header;  }
  p           { grid-area: content; }

  .trend-icon img {
    border-radius: 2137px;;
    width: 35px;
  }

  h4 {
    text-align : left;
    font-size  : 1em;
    font-weight: bold;
  }
}