
.cell-LG { grid-area: LG; }
.cell-NG { grid-area: NG; }
.cell-CG { grid-area: CG; }
.cell-LN { grid-area: LN; }
.cell-NN { grid-area: NN; }
.cell-CN { grid-area: CN; }
.cell-LE { grid-area: LE; }
.cell-NE { grid-area: NE; }
.cell-CE { grid-area: CE; }


#gameboard {
  display: grid;

  margin : auto;
  height : 400px;
  width  : 400px;

  gap    : 10px; 

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows   : 1fr 1fr 1fr;
  grid-template-areas  :
    'LG NG CG'
    'LN NN CN'
    'LE NE CE';
}

.gameboard-cell {
  align-items    : center;
  background     : inherit;
  border         : 2px solid ghostwhite;
  display        : flex;
  font-size      : 75px;
  justify-content: center;



  &:hover {
    background: #2e346e;
  }
}