#winner            { grid-area: winner ; }
#player1-score     { grid-area: p1score; }
#player2-score     { grid-area: p2score; }
#restart-button    { grid-area: restart; }
#next-round-button { grid-area: nextrnd; }


#summary {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows   : 1fr 1fr;
  grid-template-areas  : 
    'p1score p1score winner  winner  p2score p2score'
    'restart restart restart nextrnd nextrnd nextrnd';
}