#winner            { grid-area: winner ; }
#draws             { grid-area: draws  ; }
#player1-score     { grid-area: p1score; }
#player2-score     { grid-area: p2score; }
#restart-button    { grid-area: restart; }
#next-round-button { grid-area: nextrnd; }


#summary {
  display  : grid;
  margin   : auto;
  max-width: 600px;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows   : 1fr 1fr 1fr;
  grid-template-areas  : 
    '.       winner   .      '
    'p1score draws    p2score'
    'restart .        nextrnd';
}


#winner,
#draws {
  text-align: center;
}

#player2-score {
  text-align: right;
}