@import './project-variables';

footer {
  background     : map-get($theme-colors, "hanner-lleuad");
  bottom         : 0;
  display        : flex;
  gap            : 20px;
  font-family    : $font-pretty;
  font-size      : 1rem;
  justify-content: center;
  height         : $footer-height;
  padding        : 10px;
  position       : relative;
  width          : 100%;

  div:hover {
    text-shadow: 0 0 5px map-get($map: $theme-colors, $key: "lleuad-lawn");
  }
}