@import './project-variables';


html, body {
  background : $background-color;
  color      : $text-color;
  font-family: $font-main;
  font-size  : 16px;
}

#content>nav    { grid-area: navbar; }
#content>main   { grid-area: main;   }
#content>footer { grid-area: footer; }

#content {
  background: map-get($map: $theme-colors, $key: "moon-glass");
  display   : grid;
  gap       : 30px;
  min-height: 100vh;
  overflow-y: auto;
  grid-template-columns: 1fr clamp(350px, 85%, 1200px) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'navbar navbar navbar'
    '......  main  ......'
    'footer footer footer';
}

main {
  background-color: map-get($map: $theme-colors, $key: 'full-moon-glass');
  border-radius: 21.37px;
  border: 2px solid map-get($map: $theme-colors, $key: 'lleuad-lawn');
  //min-height: #{"calc(100vh) - $navbar-height"};
  padding: 1.5rem;
  margin-bottom: $footer-height;
  margin-top   : $footer-height;
}


article {
  border       : 1px solid #1d2044;
  border-radius: 21.37px;
  color        : $text-color;
  padding      : 15px;
}

main article>p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  color      : $text-color;
  text-align : center;
}

h1 {
  font-size: clamp(2.5rem, 5rem, 7vw);
}

h2 {
  font-size: clamp(2rem, 3.5rem, 5vw);
}

h3 {
  font-size: clamp(1.5rem, 2.5rem, 3.5vw);
}

.centered {
  margin    : auto;
  text-align: center;
  display   : block;
}

.mobile-width {
  max-width: 400px;
}

.clickable {
  cursor: pointer;
}

.item-action-btn {
  min-width: 80px;
}