table.moonlit-table {
  
  width: 100%;
  padding: 5px;

  thead {
    background: map-get($map: $theme-colors, $key: 'lleuad');
  }

  tbody {
    tr{
      background: map-get($map: $theme-colors, $key: 'full-moon-glass');
    }
    
    tr:nth-child(even) {
        background: map-get($map: $theme-colors, $key: 'full-moon-glass-thick');
    }
  }

  td, th {
    padding: 4px 8px;
  }



  td, th {
    border: 1px dashed map-get($map: $theme-colors, $key: 'full-moon-glass-thick');
  }

  tr {
    display: grid;
    height: fit-content;

    td {
      min-width: 0;
      word-wrap: break-word;
      hyphens: auto;
    } 
  }

  td button {
    margin-right: 10px;
  }
}

#all-projects tr {
  grid-template-columns: 50px 3fr 3fr 3fr 80px 4fr;  
}

#all-tasks tr {
  grid-template-columns: 50px 3fr 3fr 3fr 2fr 80px 2fr 3fr;
}