$background-color: map-get($map: $theme-colors, $key: "lleuad-newydd");

$font-main  : Helvetica, Arial, sans-serif;
$font-pretty: 'Tilt Prism', $font-main;
$font-header: 'Qwitcher', $font-pretty;

$footer-height: 3.5rem;
$navbar-height: 50px;

$text-color: ghostwhite;